html{
	font-size: 125%;
}
body{
	max-width: 750px;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: black;
}
input::-webkit-input-placeholder {
	font-size: 1rem;
	color: #D6D0CA !important; /* WebKit browsers */
}
input:-moz-placeholder {
	font-size: 1rem;
	color: #D6D0CA !important; /* Mozilla Firefox 4 to 18 */
}
input::-moz-placeholder {
	font-size: 1rem;
	color: #D6D0CA !important; /* Mozilla Firefox 19+ */
}
input:-ms-input-placeholder {
	font-size: 1rem;
	color: #D6D0CA !important; /*Internet Explorer 10+ */
}
.navigation{
    text-align: center;
}
.navigation #img_1{
    width: 10%;
    margin-left: 20px;
    float: left;
    margin-top: 25px;
    cursor: pointer;
}
.navigation #img_2{

    width: 40%;
    padding-top: 25px;
    margin: 0 auto;
    margin-left: 7%;
    /*display: inline-block;*/
}
.navigation span{
	/*display: inline-block;*/
     width: 25%;
    margin-right: 20px;
    padding-top: 25px;
    float: right;
    font-size: 1.2rem;
}
#title li{
    border-top: 1px solid darkgray;
    padding: 20px 0px 20px 25px;
    display: none;
}

.shu{height:2rem;}
.footer{
	bottom: 0;
	position: fixed;
	width:100%;
	height:5.6rem;
	background:#2d3e50; 
}
.footer a{
	font-size:1.1rem;
	color:#ffffff;
	float:left;
	width:33.3%;
	text-align:center
}
.footer a img{
	height:2.4rem;
	width:2.4rem;
	margin-top:0.8rem;
}
.footer a .consultation{
	width:3.05rem;
}

.padding{
	padding: 3rem;
}

#banner img{
	margin-top: 20px;
	width: 100%;
}
.teaching_environment{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	margin-top: 2rem;
}
.teaching_environment img{
	width: 100%;
}
#make_an_appointment_to_audition{
	height: 26rem;
	width: 100%;
	padding: 2rem 2rem;
	text-align: center;
}
#make_an_appointment_to_audition h1{
	font-size: 2.5rem;
	margin-bottom: 2rem;
	color: #d33d48;
}
#make_an_appointment_to_audition input{
	width: 100%;
	height: 4rem;
	font-size: 1.1rem;
	margin-bottom: 2rem;
}
#make_an_appointment_to_audition button{
	background-color: #d33d48;
	color: #fff;
	font-size: 2rem;
	padding: 1.5rem 0;
	text-align: center;
	width: 100%;
}